* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    padding: 25px 50px;
    border: 2px solid teal;
}

button {
    display: block;
    padding: 25px 15px;
    margin: 15px auto;
    font-weight: bold;
    text-align: center;
    outline: none;
    border: 1px solid teal;
}

#counter {
    font-weight: bolder;
    text-align: center;
    font-size: 2rem;
    margin: auto;
}

.positive {
    background-color: green;
    color: white;

}

.negative {
    background-color: red;
    color: white;
}

.neutral {
    background-color: white;
    color: black;
}